
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
        @foreach(testtask_v1.Models.Product prod in ViewBag.prods)
        {
            <tr>
                <td>
                    @prod.Name
                </td>
                <td>
                    @prod.Price $
                </td>
                <td>
                    @prod.Description
                </td>
            </tr>
        }
        </table>
    </div>
</body>
</html>
