
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCart</title>
</head>
<body>
    <div>
        @foreach(var prod in ViewBag.Cart)
        {
            <p>@prod.Name</p>
            <p>@prod.Price</p>
            <p>@prod.Description</p>
        }
    </div>
</body>
</html>
