@model IEnumerable<testtask_v1.Models.AppRole>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Create", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="text" name="roleName" />
            <input type="submit" value="Create" />
        }
        <h2>All roles</h2>
        @foreach (var role in Model)
        { 
            <h3>    @role.Name</h3>
        }
    </div>
</body>
</html>
