@model testtask_v1.ViewModels.ProductViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakeOrder</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
