@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ButtonAdd</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <input type="hidden" value="@Model" name="name" />
            <input type="submit" value="Add to cart" />
        }
    </div>
</body>
</html>
