
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Enter name of product</td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td>Enter cost of product</td>
                <td><input type="text" name="Cost" /></td>
            </tr>
            <tr>
                <td>Enter description of product</td>
                <td><input type="text" name="Description"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"/></td>
            </tr>
        </table>
    </div>
</body>
</html>
