@model List<BLL.DTO.OrderDTO>
    @{ 
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakeOrder</title>
</head>
<body>
    <div>
        @Model.Count()
    </div>
</body>
</html>
